.Main {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
  background: rgba(var(--primary_rgb), 0.2);
}

.Auth {
  display: flex;
  align-items: center;
  width: 85vw;
  height: 85vh;
  border-radius: 1rem;
}

@media screen and (min-width: 256px) and (max-width: 1024px),
  screen and (max-aspect-ratio: 3/4),
  screen and (aspect-ratio: 16/9) {
  .Auth {
    width: 100vw;
    height: 100vh;
  }
}
